### INGEST DATA AND CLEAN

In [1]:
import numpy as np

In [2]:
import pandas as pd
import os

folder_path = "/Users/siddhiwanzkhade/Downloads/Raw_TalentSpend"

all_files = os.listdir(folder_path)

dfs = []

for file in all_files:
    if file.endswith(".csv"):
        file_path = os.path.join(folder_path, file)
        df = pd.read_csv(file_path)
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [6]:
#pd.read_csv("combined_data1.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [4]:
df.describe()

,job_id,max_salary,company_id,views,med_salary,min_salary,applies,original_listed_time,remote_allowed,expiry,closed_time,listed_time,sponsored,normalized_salary,zip_code,fips
count,1.238490e+05,2.979300e+04,1.221320e+05,122160.000000,6280.000000,2.979300e+04,23320.000000,1.238490e+05,15246.0,1.238490e+05,1.073000e+03,1.238490e+05,123849.0,3.607300e+04,102977.000000,96434.000000
mean,3.896402e+09,9.193942e+04,1.220401e+07,14.618247,22015.619876,6.491085e+04,10.591981,1.713152e+12,1.0,1.716213e+12,1.712928e+12,1.713204e+12,0.0,2.053270e+05,50400.491887,28713.879887
std,8.404355e+07,7.011101e+05,2.554143e+07,85.903598,52255.873846,4.959738e+05,29.047395,4.848209e+08,0.0,2.321394e+09,3.622893e+08,3.989122e+08,0.0,5.097627e+06,30252.232515,16015.929825
min,9.217160e+05,1.000000e+00,1.009000e+03,1.000000,0.000000,1.000000e+00,1.000000,1.701811e+12,1.0,1.712903e+12,1.712346e+12,1.711317e+12,0.0,0.000000e+00,1001.000000,1003.000000
25%,3.894587e+09,4.828000e+01,1.435200e+04,3.000000,18.940000,3.700000e+01,1.000000,1.712863e+12,1.0,1.715481e+12,1.712670e+12,1.712886e+12,0.0,5.200000e+04,24112.000000,13121.000000
50%,3.901998e+09,8.000000e+04,2.269650e+05,4.000000,25.500000,6.000000e+04,3.000000,1.713395e+12,1.0,1.716042e+12,1.712670e+12,1.713408e+12,0.0,8.150000e+04,48059.000000,29183.000000
75%,3.904707e+09,1.400000e+05,8.047188e+06,8.000000,2510.500000,1.000000e+05,8.000000,1.713478e+12,1.0,1.716088e+12,1.713283e+12,1.713484e+12,0.0,1.250000e+05,78201.000000,42077.000000
max,3.906267e+09,1.200000e+08,1.034730e+08,9975.000000,750000.000000,8.500000e+07,967.000000,1.713573e+12,1.0,1.729125e+12,1.713562e+12,1.713573e+12,0.0,5.356000e+08,99901.000000,56045.000000

In [5]:
df_raw = combined_df.copy()

df_raw["test_col"] = 1

"test_col" in combined_df.columns

False

In [6]:
df=df_raw

In [7]:
df.to_csv("combined_data1.csv", index=False)

In [8]:
df = combined_df.copy()

In [9]:
df.columns

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [10]:
df = df.drop(columns=["job_posting_url","application_url", "application_type","expiry","closed_time","zip_code","fips"])

In [11]:
df.drop(columns=["posting_domain"])

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,original_listed_time,remote_allowed,formatted_experience_level,skills_desc,listed_time,sponsored,work_type,currency,compensation_type,normalized_salary
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.713398e+12,NaN,NaN,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,0,FULL_TIME,USD,BASE_SALARY,38480.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,1.712858e+12,NaN,NaN,NaN,1.712858e+12,0,FULL_TIME,USD,BASE_SALARY,83200.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,1.713278e+12,NaN,NaN,We are currently accepting resumes for FOH - A...,1.713278e+12,0,FULL_TIME,USD,BASE_SALARY,55000.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,1.712896e+12,NaN,NaN,This position requires a baseline understandin...,1.712896e+12,0,FULL_TIME,USD,BASE_SALARY,157500.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,1.713452e+12,NaN,NaN,NaN,1.713452e+12,0,FULL_TIME,USD,BASE_SALARY,70000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,NaN,...,1.713571e+12,NaN,Mid-Senior level,NaN,1.713571e+12,0,FULL_TIME,USD,BASE_SALARY,157500.0
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,1.713572e+12,1.0,Mid-Senior level,NaN,1.713572e+12,0,FULL_TIME,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,1.713572e+12,1.0,Mid-Senior level,NaN,1.713572e+12,0,FULL_TIME,NaN,NaN,NaN
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,1.713573e+12,1.0,NaN,NaN,1.713573e+12,0,FULL_TIME,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,1.713573e+12,NaN,Mid-Senior level,NaN,1.713573e+12,0,FULL_TIME,USD,BASE_SALARY,72500.0

In [12]:
df = df.rename(columns={"formatted_experience_level": "experience_level"})

In [13]:
df = df.rename(columns={"title": "role_title"})

In [14]:
df.dtypes

job_id                    int64
company_name             object
role_title               object
description              object
max_salary              float64
pay_period               object
location                 object
company_id              float64
views                   float64
med_salary              float64
min_salary              float64
formatted_work_type      object
applies                 float64
original_listed_time    float64
remote_allowed          float64
experience_level         object
skills_desc              object
listed_time             float64
posting_domain           object
sponsored                 int64
work_type                object
currency                 object
compensation_type        object
normalized_salary       float64
dtype: object

In [15]:
df["listed_time"]

0         1.713398e+12
1         1.712858e+12
2         1.713278e+12
3         1.712896e+12
4         1.713452e+12
              ...
123844    1.713571e+12
123845    1.713572e+12
123846    1.713572e+12
123847    1.713573e+12
123848    1.713573e+12
Name: listed_time, Length: 123849, dtype: float64

In [91]:
df["listed_time"] = pd.to_datetime(df["listed_time"], unit="ms",errors="coerce")

In [92]:
df = df.rename(columns={"listed_time": "datetime"})

In [18]:
df.dtypes

job_id                           int64
company_name                    object
role_title                      object
description                     object
max_salary                     float64
pay_period                      object
location                        object
company_id                     float64
views                          float64
med_salary                     float64
min_salary                     float64
formatted_work_type             object
applies                        float64
original_listed_time           float64
remote_allowed                 float64
experience_level                object
skills_desc                     object
datetime                datetime64[ns]
posting_domain                  object
sponsored                        int64
work_type                       object
currency                        object
compensation_type               object
normalized_salary              float64
dtype: object

In [19]:
df["datetime"]

0        2024-04-17 23:45:08
1        2024-04-11 17:51:27
2        2024-04-16 14:26:54
3        2024-04-12 04:23:32
4        2024-04-18 14:52:23
                 ...
123844   2024-04-20 00:00:23
123845   2024-04-20 00:17:16
123846   2024-04-20 00:18:59
123847   2024-04-20 00:23:52
123848   2024-04-20 00:23:36
Name: datetime, Length: 123849, dtype: datetime64[ns]

In [20]:
df = df.drop(columns=["formatted_work_type", "original_listed_time"])

In [21]:
final_df= [
    "company_id",
    "company_name",
    "job_id",
    "role_title",
    "description",
    "skills_desc",
    "experience_level",
    "max_salary",
    "min_salary",
    "med_salary",
    "normalized_salary",
    "currency",
    "compensation_type",
    "pay_period",
    "work_type",
    "location",
    "remote_allowed",
    "datetime",
    "views",
    "applies",
    "sponsored",
   
]

df = df[[c for c in final_df if c in df.columns]]
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,...,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,...,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",NaN,2024-04-17 23:45:08,20.0,2.0,0
1,NaN,NaN,1829192,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",NaN,NaN,50.0,30.0,NaN,...,USD,BASE_SALARY,HOURLY,FULL_TIME,"Fort Collins, CO",NaN,2024-04-11 17:51:27,1.0,NaN,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,...,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",NaN,2024-04-16 14:26:54,8.0,NaN,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,...,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",NaN,2024-04-12 04:23:32,16.0,NaN,0
4,NaN,NaN,35982263,Service Technician,Looking for HVAC service tech with experience ...,NaN,NaN,80000.0,60000.0,NaN,...,USD,BASE_SALARY,YEARLY,FULL_TIME,"Burlington, IA",NaN,2024-04-18 14:52:23,3.0,NaN,0

In [22]:
df.duplicated().sum()

np.int64(0)

In [23]:
pd.set_option("display.max_columns", None)

In [24]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",NaN,2024-04-17 23:45:08,20.0,2.0,0
1,NaN,NaN,1829192,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",NaN,NaN,50.0,30.0,NaN,83200.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Fort Collins, CO",NaN,2024-04-11 17:51:27,1.0,NaN,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",NaN,2024-04-16 14:26:54,8.0,NaN,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",NaN,2024-04-12 04:23:32,16.0,NaN,0
4,NaN,NaN,35982263,Service Technician,Looking for HVAC service tech with experience ...,NaN,NaN,80000.0,60000.0,NaN,70000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Burlington, IA",NaN,2024-04-18 14:52:23,3.0,NaN,0

In [25]:
df["skills_desc"].head(10)

0    Requirements: \n\nWe are seeking a College or ...
1                                                  NaN
2    We are currently accepting resumes for FOH - A...
3    This position requires a baseline understandin...
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8    • Requires the ability to communicate effectiv...
9    Knowledge, Skills and Abilities: 1. Proficient...
Name: skills_desc, dtype: object

In [26]:
df["skills_desc"].str.strip("\n\n").head(20)

0     Requirements: \n\nWe are seeking a College or ...
1                                                   NaN
2     We are currently accepting resumes for FOH - A...
3     This position requires a baseline understandin...
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8     • Requires the ability to communicate effectiv...
9     Knowledge, Skills and Abilities: 1. Proficient...
10    The Production Supervisor must possess strong ...
11                                                  NaN
12    Skills/Qualifications: Two-year or four-year d...
13    Job Overview: Manage a project from start to f...
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19    Strong interpersonal communication skills and ...
Name: skills_desc, dtype: object

In [27]:
df.fillna('')

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,,20.0,17.0,,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",,2024-04-17 23:45:08,20.0,2.0,0
1,,,1829192,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",,,50.0,30.0,,83200.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Fort Collins, CO",,2024-04-11 17:51:27,1.0,,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,,65000.0,45000.0,,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",,2024-04-16 14:26:54,8.0,,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,,175000.0,140000.0,,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",,2024-04-12 04:23:32,16.0,,0
4,,,35982263,Service Technician,Looking for HVAC service tech with experience ...,,,80000.0,60000.0,,70000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Burlington, IA",,2024-04-18 14:52:23,3.0,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,56120.0,Lozano Smith,3906267117,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,,Mid-Senior level,195000.0,120000.0,,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Walnut Creek, CA",,2024-04-20 00:00:23,1.0,,0
123845,1124131.0,Pinterest,3906267126,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,,Mid-Senior level,,,,,,,,FULL_TIME,United States,1.0,2024-04-20 00:17:16,3.0,,0
123846,90552133.0,EPS Learning,3906267131,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,,Mid-Senior level,,,,,,,,FULL_TIME,"Spokane, WA",1.0,2024-04-20 00:18:59,3.0,,0
123847,2793699.0,Trelleborg Applied Technologies,3906267195,Business Development Manager,The Business Development Manager is a 'hunter'...,,,,,,,,,,FULL_TIME,"Texas, United States",1.0,2024-04-20 00:23:52,4.0,,0
123848,43325.0,Solugenix,3906267224,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,,Mid-Senior level,75000.0,70000.0,,72500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"San Juan Capistrano, CA",,2024-04-20 00:23:36,2.0,,0

In [28]:
df = df[df["company_name"].notna()]

In [29]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",NaN,2024-04-17 23:45:08,20.0,2.0,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",NaN,2024-04-16 14:26:54,8.0,NaN,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",NaN,2024-04-12 04:23:32,16.0,NaN,0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,NaN,NaN,20.0,14.0,NaN,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",NaN,2024-04-18 16:01:39,9.0,4.0,0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,1.0,2024-04-11 18:43:39,7.0,1.0,0

In [30]:
df.fillna('-')

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,-,20.0,17.0,-,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",-,2024-04-17 23:45:08,20.0,2.0,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,-,65000.0,45000.0,-,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",-,2024-04-16 14:26:54,8.0,-,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,-,175000.0,140000.0,-,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",-,2024-04-12 04:23:32,16.0,-,0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,-,-,20.0,14.0,-,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",-,2024-04-18 16:01:39,9.0,4.0,0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,-,-,300000.0,60000.0,-,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,1.0,2024-04-11 18:43:39,7.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,56120.0,Lozano Smith,3906267117,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,-,Mid-Senior level,195000.0,120000.0,-,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Walnut Creek, CA",-,2024-04-20 00:00:23,1.0,-,0
123845,1124131.0,Pinterest,3906267126,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,-,Mid-Senior level,-,-,-,-,-,-,-,FULL_TIME,United States,1.0,2024-04-20 00:17:16,3.0,-,0
123846,90552133.0,EPS Learning,3906267131,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,-,Mid-Senior level,-,-,-,-,-,-,-,FULL_TIME,"Spokane, WA",1.0,2024-04-20 00:18:59,3.0,-,0
123847,2793699.0,Trelleborg Applied Technologies,3906267195,Business Development Manager,The Business Development Manager is a 'hunter'...,-,-,-,-,-,-,-,-,-,FULL_TIME,"Texas, United States",1.0,2024-04-20 00:23:52,4.0,-,0
123848,43325.0,Solugenix,3906267224,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,-,Mid-Senior level,75000.0,70000.0,-,72500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"San Juan Capistrano, CA",-,2024-04-20 00:23:36,2.0,-,0

In [31]:
df.sort_values(by="max_salary", ascending=False).head(10)   #top 10 highest paid

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
94881,126632.0,EOX Vantage,3904911743,Marketing Director,"Marketing Director: EOX Vantage, Cleveland, Oh...",NaN,NaN,120000000.0,85000000.0,NaN,102500000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cleveland, OH",NaN,2024-04-18 13:59:30,31.0,2.0,0
91967,12979710.0,"Platinum Legal Search Group, LLC",3904572369,"Corporate, Litigation, Intellectual Property ,...",We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Richmond, VA",NaN,2024-04-19 18:14:56,2.0,NaN,0
4781,12979710.0,"Platinum Legal Search Group, LLC",3884923962,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,San Francisco Bay Area,NaN,2024-04-05 20:20:00,8.0,NaN,0
4908,12979710.0,"Platinum Legal Search Group, LLC",3884928788,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New York, NY",NaN,2024-04-05 20:35:56,14.0,NaN,0
4735,12979710.0,"Platinum Legal Search Group, LLC",3884921825,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Pennsylvania, United States",1.0,2024-04-05 20:14:23,16.0,NaN,0
97908,15454345.0,SSTech LLC,3904964694,NEO4J- Senior Database administrator,"As a Neo4j database administrator, you are res...",NaN,NaN,1300000.0,100000.0,NaN,700000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,United States,1.0,2024-04-18 15:52:49,47.0,7.0,0
44910,613812.0,Avance Consulting,3900949687,Dotnet Developer,".Net Developer SanDiego, CA; Long Beach, CAFul...",NaN,Mid-Senior level,1220000.0,100000.0,NaN,660000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"California, United States",NaN,2024-04-17 21:25:29,23.0,11.0,0
116367,92699700.0,Goliath Partners,3905868067,Quantitative Researcher,Goliath Partners is working with a global prop...,NaN,Mid-Senior level,1200000.0,700000.0,NaN,950000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,Greater Chicago Area,NaN,2024-04-19 14:35:45,2.0,NaN,0
34903,65320905.0,N2S Healthcare Staffing Solutions LLC,3895518242,Technical Lab Specialist,Position Name: Technical Lab SpecialistLocatio...,NaN,Mid-Senior level,1115000.0,77000.0,NaN,596000.0,USD,BASE_SALARY,YEARLY,CONTRACT,"Charlotte, NC",NaN,2024-04-12 01:52:15,1.0,NaN,0
91450,1681.0,Robert Half,3904508589,Property Controller,Robert Half is reviewing candidates for an amb...,NaN,Mid-Senior level,1100000.0,100000.0,NaN,600000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Philadelphia, PA",NaN,2024-04-19 14:57:39,1.0,NaN,0

In [32]:
df["remote_allowed"].head(20)

0     NaN
2     NaN
3     NaN
5     NaN
6     1.0
8     NaN
9     NaN
10    NaN
11    NaN
14    1.0
15    NaN
16    NaN
18    NaN
19    NaN
20    NaN
25    NaN
26    NaN
29    NaN
30    NaN
31    NaN
Name: remote_allowed, dtype: float64

In [33]:
df["remote_allowed"] = df["remote_allowed"].map(
    {1: "Yes"}
).fillna("N/A")

In [34]:
df["remote_allowed"]

0         N/A
2         N/A
3         N/A
5         N/A
6         Yes
         ...
123844    N/A
123845    Yes
123846    Yes
123847    Yes
123848    N/A
Name: remote_allowed, Length: 122130, dtype: object

In [35]:
df.fillna('N/A')

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,N/A,20.0,17.0,N/A,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",N/A,2024-04-17 23:45:08,20.0,2.0,0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,N/A,65000.0,45000.0,N/A,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",N/A,2024-04-16 14:26:54,8.0,N/A,0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,N/A,175000.0,140000.0,N/A,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",N/A,2024-04-12 04:23:32,16.0,N/A,0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,N/A,N/A,20.0,14.0,N/A,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",N/A,2024-04-18 16:01:39,9.0,4.0,0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,N/A,N/A,300000.0,60000.0,N/A,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,56120.0,Lozano Smith,3906267117,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,N/A,Mid-Senior level,195000.0,120000.0,N/A,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Walnut Creek, CA",N/A,2024-04-20 00:00:23,1.0,N/A,0
123845,1124131.0,Pinterest,3906267126,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,N/A,Mid-Senior level,N/A,N/A,N/A,N/A,N/A,N/A,N/A,FULL_TIME,United States,Yes,2024-04-20 00:17:16,3.0,N/A,0
123846,90552133.0,EPS Learning,3906267131,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,N/A,Mid-Senior level,N/A,N/A,N/A,N/A,N/A,N/A,N/A,FULL_TIME,"Spokane, WA",Yes,2024-04-20 00:18:59,3.0,N/A,0
123847,2793699.0,Trelleborg Applied Technologies,3906267195,Business Development Manager,The Business Development Manager is a 'hunter'...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,FULL_TIME,"Texas, United States",Yes,2024-04-20 00:23:52,4.0,N/A,0
123848,43325.0,Solugenix,3906267224,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,N/A,Mid-Senior level,75000.0,70000.0,N/A,72500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"San Juan Capistrano, CA",N/A,2024-04-20 00:23:36,2.0,N/A,0

In [36]:
#df_clean.to_csv("final_data.csv" , index=False)

### NORMALIZED_SALARY LOGIC FIXING (ANALYSED THROUGH EDA)

#### Why do we need normalized salary in TalentSpend?
Goal :
 -> Analyze hiring trends and predict salary patterns across roles, experience levels, and time.


Without normalization:
-> A 25 dollar per hr intern looks “cheap” compared to $120K/year .....(which is wrong)

-> Monthly vs yearly salaries break analysis

-> ML models learn garbage

-> Visualizations lie

=> Normalized salary is mandatory for correctness.

In [37]:
def normalize_salary(row):
    salary = row["normalized_salary"]  # or min_salary / med_salary
    period = row["pay_period"]

    if pd.isna(salary) or pd.isna(period):
        return None

    period = period.lower()

    if period == "hourly":
        return salary * 40 * 52
    elif period == "monthly":
        return salary * 12
    elif period == "yearly":
        return salary
    else:
        return None

In [38]:
df["annual_salary"] = df.apply(normalize_salary, axis=1)

In [39]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",N/A,2024-04-17 23:45:08,20.0,2.0,0,80038400.0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",N/A,2024-04-16 14:26:54,8.0,NaN,0,55000.0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",N/A,2024-04-12 04:23:32,16.0,NaN,0,157500.0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,NaN,NaN,20.0,14.0,NaN,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",N/A,2024-04-18 16:01:39,9.0,4.0,0,73548800.0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0

In [40]:
df_clean = df.copy()

In [41]:
df_clean.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",N/A,2024-04-17 23:45:08,20.0,2.0,0,80038400.0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",N/A,2024-04-16 14:26:54,8.0,NaN,0,55000.0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",N/A,2024-04-12 04:23:32,16.0,NaN,0,157500.0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,NaN,NaN,20.0,14.0,NaN,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",N/A,2024-04-18 16:01:39,9.0,4.0,0,73548800.0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0

In [42]:
df_clean.shape

(122130, 22)

In [43]:
df_clean["annual_salary"]

0         80038400.0
2            55000.0
3           157500.0
5         73548800.0
6           180000.0
             ...
123844      157500.0
123845           NaN
123846           NaN
123847           NaN
123848       72500.0
Name: annual_salary, Length: 122130, dtype: float64

In [44]:
df["datetime"].tail(50)

123797   2024-04-19 23:52:09
123798   2024-04-19 23:50:26
123799   2024-04-20 00:08:33
123800   2024-04-20 00:08:33
123801   2024-04-20 00:08:33
123802   2024-04-20 00:08:33
123803   2024-04-20 00:12:29
123804   2024-04-20 00:17:34
123805   2024-04-19 23:49:38
123806   2024-04-19 23:57:25
123807   2024-04-20 00:00:07
123808   2024-04-20 00:08:33
123809   2024-04-19 23:59:04
123810   2024-04-20 00:11:28
123811   2024-04-20 00:00:34
123812   2024-04-20 00:05:10
123813   2024-04-20 00:09:01
123814   2024-04-20 00:09:50
123815   2024-04-20 00:22:04
123816   2024-04-20 00:22:04
123817   2024-04-20 00:22:04
123818   2024-04-20 00:24:47
123819   2024-04-19 23:46:02
123821   2024-04-19 23:51:05
123822   2024-04-20 00:08:33
123823   2024-04-20 00:08:33
123824   2024-04-20 00:11:28
123825   2024-04-20 00:12:12
123827   2024-04-20 00:17:43
123828   2024-04-20 00:19:35
123829   2024-04-20 00:19:35
123830   2024-04-20 00:22:04
123831   2024-04-20 00:24:26
123832   2024-04-20 00:26:16
123833   2024-04-20 00:17:22
123834   2024-04-20 00:20:29
123835   2024-04-20 00:23:13
123836   2024-04-20 00:22:41
123837   2024-04-20 00:26:30
123838   2024-04-19 23:52:56
123839   2024-04-19 23:55:40
123840   2024-04-20 00:08:33
123841   2024-04-20 00:00:12
123842   2024-04-20 00:25:51
123843   2024-04-20 00:20:31
123844   2024-04-20 00:00:23
123845   2024-04-20 00:17:16
123846   2024-04-20 00:18:59
123847   2024-04-20 00:23:52
123848   2024-04-20 00:23:36
Name: datetime, dtype: datetime64[ns]

In [45]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",N/A,2024-04-17 23:45:08,20.0,2.0,0,80038400.0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",N/A,2024-04-16 14:26:54,8.0,NaN,0,55000.0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",N/A,2024-04-12 04:23:32,16.0,NaN,0,157500.0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,NaN,NaN,20.0,14.0,NaN,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",N/A,2024-04-18 16:01:39,9.0,4.0,0,73548800.0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0

In [46]:
df.dtypes

company_id                  float64
company_name                 object
job_id                        int64
role_title                   object
description                  object
skills_desc                  object
experience_level             object
max_salary                  float64
min_salary                  float64
med_salary                  float64
normalized_salary           float64
currency                     object
compensation_type            object
pay_period                   object
work_type                    object
location                     object
remote_allowed               object
datetime             datetime64[ns]
views                       float64
applies                     float64
sponsored                     int64
annual_salary               float64
dtype: object

In [47]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary
0,2774458.0,Corcoran Sawyer Smith,921716,Marketing Coordinator,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,NaN,20.0,17.0,NaN,38480.0,USD,BASE_SALARY,HOURLY,FULL_TIME,"Princeton, NJ",N/A,2024-04-17 23:45:08,20.0,2.0,0,80038400.0
2,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",N/A,2024-04-16 14:26:54,8.0,NaN,0,55000.0
3,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",N/A,2024-04-12 04:23:32,16.0,NaN,0,157500.0
5,1481176.0,Downtown Raleigh Alliance,91700727,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,NaN,NaN,20.0,14.0,NaN,35360.0,USD,BASE_SALARY,HOURLY,INTERNSHIP,"Raleigh, NC",N/A,2024-04-18 16:01:39,9.0,4.0,0,73548800.0
6,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0

In [48]:
df["currency"].value_counts()

currency
USD    35550
EUR        6
CAD        3
BBD        2
GBP        2
Name: count, dtype: int64

In [49]:
df[["min_salary", "max_salary"]].describe()

         min_salary    max_salary
count  2.933800e+04  2.933800e+04
mean   6.511109e+04  9.224880e+04
std    4.997555e+05  7.064466e+05
min    1.000000e+00  1.000000e+00
25%    3.750000e+01  4.867500e+01
50%    6.020000e+04  8.000000e+04
75%    1.000000e+05  1.400000e+05
max    8.500000e+07  1.200000e+08

In [50]:
#normalizing salaries to USD
currency_rates = {
    "USD": 1.0,
    "CAD": 0.74,
    "GBP": 1.27,
    "EUR": 1.09,
    "BBD": 0.50
}

In [63]:
df["currency_rate"] = df["currency"].map(currency_rates)

df["min_salary_usd"] = df["min_salary"] * df["currency_rate"]
df["max_salary_usd"] = df["max_salary"] * df["currency_rate"]

In [52]:
df_clean.to_csv("final_data.csv", index=False)

In [61]:
pay_period_multiplier = {
    "hourly": 40 * 52,
    "weekly": 52,
    "monthly": 12,
    "yearly": 1
}

In [64]:
df["pay_multiplier"] = df["pay_period"].map(pay_period_multiplier).fillna(1)

df["min_salary_annual_usd"] = df["min_salary_usd"] * df["pay_multiplier"]
df["max_salary_annual_usd"] = df["max_salary_usd"] * df["pay_multiplier"]

In [55]:
df = pd.read_csv("final_data.csv")

In [56]:
df.columns

Index(['company_id', 'company_name', 'job_id', 'role_title', 'description',
       'skills_desc', 'experience_level', 'max_salary', 'min_salary',
       'med_salary', 'normalized_salary', 'currency', 'compensation_type',
       'pay_period', 'work_type', 'location', 'remote_allowed', 'datetime',
       'views', 'applies', 'sponsored', 'annual_salary'],
      dtype='object')

In [57]:
#### Since Every employee  — intern, contractor, or full-time — is paid for at least one month of work.
#### So instead of forcing everyone into annual salary,
#### we convert everyone into monthly USD compensation.

In [65]:
df["avg_salary_annual_usd"] = (
    df["min_salary_annual_usd"] + df["max_salary_annual_usd"]
) / 2

In [66]:
df["avg_salary_annual_usd"].describe()

count    2.933800e+04
mean     7.867648e+04
std      6.028452e+05
min      1.000000e+00
25%      4.250000e+01
50%      7.250000e+04
75%      1.200000e+05
max      1.025000e+08
Name: avg_salary_annual_usd, dtype: float64

In [67]:
df.columns

Index(['company_id', 'company_name', 'job_id', 'role_title', 'description',
       'skills_desc', 'experience_level', 'max_salary', 'min_salary',
       'med_salary', 'normalized_salary', 'currency', 'compensation_type',
       'pay_period', 'work_type', 'location', 'remote_allowed', 'datetime',
       'views', 'applies', 'sponsored', 'annual_salary', 'pay_multiplier',
       'currency_rate', 'min_salary_usd', 'max_salary_usd',
       'min_salary_annual_usd', 'max_salary_annual_usd',
       'avg_salary_annual_usd'],
      dtype='object')

In [68]:
df.sort_values("avg_salary_annual_usd", ascending=False).head(10)

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary,pay_multiplier,currency_rate,min_salary_usd,max_salary_usd,min_salary_annual_usd,max_salary_annual_usd,avg_salary_annual_usd
93464,126632.0,EOX Vantage,3904911743,Marketing Director,"Marketing Director: EOX Vantage, Cleveland, Oh...",NaN,NaN,120000000.0,85000000.0,NaN,102500000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cleveland, OH",NaN,2024-04-18 13:59:30,31.0,2.0,0,102500000.0,1.0,1.0,85000000.0,120000000.0,85000000.0,120000000.0,102500000.0
114706,92699700.0,Goliath Partners,3905868067,Quantitative Researcher,Goliath Partners is working with a global prop...,NaN,Mid-Senior level,1200000.0,700000.0,NaN,950000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,Greater Chicago Area,NaN,2024-04-19 14:35:45,2.0,NaN,0,950000.0,1.0,1.0,700000.0,1200000.0,700000.0,1200000.0,950000.0
90560,12979710.0,"Platinum Legal Search Group, LLC",3904572369,"Corporate, Litigation, Intellectual Property ,...",We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Richmond, VA",NaN,2024-04-19 18:14:56,2.0,NaN,0,925000.0,1.0,1.0,350000.0,1500000.0,350000.0,1500000.0,925000.0
4756,12979710.0,"Platinum Legal Search Group, LLC",3884928788,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New York, NY",NaN,2024-04-05 20:35:56,14.0,NaN,0,925000.0,1.0,1.0,350000.0,1500000.0,350000.0,1500000.0,925000.0
4629,12979710.0,"Platinum Legal Search Group, LLC",3884923962,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,San Francisco Bay Area,NaN,2024-04-05 20:20:00,8.0,NaN,0,925000.0,1.0,1.0,350000.0,1500000.0,350000.0,1500000.0,925000.0
4583,12979710.0,"Platinum Legal Search Group, LLC",3884921825,Partner (& Groups w/ Portable Business for Top...,We're recruiting for a Top Law Firm seeking Pa...,NaN,NaN,1500000.0,350000.0,NaN,925000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Pennsylvania, United States",Yes,2024-04-05 20:14:23,16.0,NaN,0,925000.0,1.0,1.0,350000.0,1500000.0,350000.0,1500000.0,925000.0
111468,29024195.0,Goldman Lloyds,3905668685,Head of Front Office Technology,Job Title: Head of Front Office Technology\nCo...,NaN,NaN,1000000.0,750000.0,NaN,875000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,New York City Metropolitan Area,NaN,2024-04-19 09:43:07,2.0,NaN,0,875000.0,1.0,1.0,750000.0,1000000.0,750000.0,1000000.0,875000.0
115393,92699700.0,Goliath Partners,3905879033,Quantitative Researcher,Goliath has partnered with a well concealed ye...,NaN,Mid-Senior level,1000000.0,650000.0,NaN,825000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New York, United States",NaN,2024-04-19 15:08:08,3.0,NaN,0,825000.0,1.0,1.0,650000.0,1000000.0,650000.0,1000000.0,825000.0
116618,106584.0,Selby Jennings,3906093549,Senior Software Engineer,High Frequency Trading Firm looking to bring o...,NaN,Mid-Senior level,1000000.0,500000.0,NaN,750000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New York, United States",NaN,2024-04-19 18:48:22,53.0,14.0,0,750000.0,1.0,1.0,500000.0,1000000.0,500000.0,1000000.0,750000.0
72188,2379623.0,Interlink Talent Solutions,3902931298,Trust and Estates Partner,Are you a seasoned legal professional seeking ...,NaN,Director,1000000.0,500000.0,NaN,750000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"California, United States",NaN,2024-04-16 14:38:04,2.0,NaN,0,750000.0,1.0,1.0,500000.0,1000000.0,500000.0,1000000.0,750000.0

In [69]:
df = df[
    (df["avg_salary_annual_usd"] >= 12000) &
    (df["avg_salary_annual_usd"] <= 400000)
]

In [70]:
df["avg_salary_annual_usd"].describe()

count     18403.000000
mean     116782.443528
std       54629.906884
min       12000.000000
25%       76250.000000
50%      105000.000000
75%      145000.000000
max      400000.000000
Name: avg_salary_annual_usd, dtype: float64

In [71]:
df["avg_salary_monthly_usd"] = df["avg_salary_annual_usd"] / 12

/var/folders/8l/kwqhx8ln6rb3y200y9j9fwxr0000gn/T/ipykernel_51149/3622114075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["avg_salary_monthly_usd"] = df["avg_salary_annual_usd"] / 12

In [72]:
df["monthly_salary_usd"] = df["avg_salary_annual_usd"] / 12

/var/folders/8l/kwqhx8ln6rb3y200y9j9fwxr0000gn/T/ipykernel_51149/744337216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["monthly_salary_usd"] = df["avg_salary_annual_usd"] / 12

In [73]:
#Important for monthly salary analysis of all job categories , (assuming they all work for atleast one month)
def to_monthly_salary(row):
    return row["avg_salary_annual_usd"] / 12

df["monthly_salary_usd"] = df.apply(to_monthly_salary, axis=1)

/var/folders/8l/kwqhx8ln6rb3y200y9j9fwxr0000gn/T/ipykernel_51149/3060545242.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["monthly_salary_usd"] = df.apply(to_monthly_salary, axis=1)

In [74]:
[c for c in df.columns if "salary" in c.lower()]

['max_salary',
 'min_salary',
 'med_salary',
 'normalized_salary',
 'annual_salary',
 'min_salary_usd',
 'max_salary_usd',
 'min_salary_annual_usd',
 'max_salary_annual_usd',
 'avg_salary_annual_usd',
 'avg_salary_monthly_usd',
 'monthly_salary_usd']

In [75]:
df["monthly_salary_usd"].describe()

count    18403.000000
mean      9731.870294
std       4552.492240
min       1000.000000
25%       6354.166667
50%       8750.000000
75%      12083.333333
max      33333.333333
Name: monthly_salary_usd, dtype: float64

In [76]:
df["avg_salary_monthly_usd"].describe()

count    18403.000000
mean      9731.870294
std       4552.492240
min       1000.000000
25%       6354.166667
50%       8750.000000
75%      12083.333333
max      33333.333333
Name: avg_salary_monthly_usd, dtype: float64

In [77]:
df["avg_salary_annual_usd"].describe()

count     18403.000000
mean     116782.443528
std       54629.906884
min       12000.000000
25%       76250.000000
50%      105000.000000
75%      145000.000000
max      400000.000000
Name: avg_salary_annual_usd, dtype: float64

In [78]:
df.head()

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary,pay_multiplier,currency_rate,min_salary_usd,max_salary_usd,min_salary_annual_usd,max_salary_annual_usd,avg_salary_annual_usd,avg_salary_monthly_usd,monthly_salary_usd
1,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,NaN,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",NaN,2024-04-16 14:26:54,8.0,NaN,0,55000.0,1.0,1.0,45000.0,65000.0,45000.0,65000.0,55000.0,4583.333333,4583.333333
2,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,NaN,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",NaN,2024-04-12 04:23:32,16.0,NaN,0,157500.0,1.0,1.0,140000.0,175000.0,140000.0,175000.0,157500.0,13125.000000,13125.000000
4,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,NaN,NaN,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0,1.0,1.0,60000.0,300000.0,60000.0,300000.0,180000.0,15000.000000,15000.000000
23,8577252.0,Revesco Properties,266566927,Marketing & Office Coordinator,About Revesco Properties:Revesco Properties is...,NaN,NaN,75000.0,55000.0,NaN,65000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Denver, CO",NaN,2024-04-18 16:49:28,13.0,1.0,0,65000.0,1.0,1.0,55000.0,75000.0,55000.0,75000.0,65000.0,5416.666667,5416.666667
24,99212509.0,Recruitment Design,266825034,Software Support Specialist,Are you driven by the thrill of solving proble...,NaN,NaN,65000.0,60000.0,NaN,62500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"McLean, VA",NaN,2024-04-11 18:22:10,NaN,NaN,0,62500.0,1.0,1.0,60000.0,65000.0,60000.0,65000.0,62500.0,5208.333333,5208.333333

In [93]:
df.dtypes

job_id                                 int64
company_name                          object
title                                 object
description                           object
max_salary                           float64
pay_period                            object
location                              object
company_id                           float64
views                                float64
med_salary                           float64
min_salary                           float64
formatted_work_type                   object
applies                              float64
original_listed_time                 float64
remote_allowed                       float64
job_posting_url                       object
application_url                       object
application_type                      object
expiry                               float64
closed_time                          float64
formatted_experience_level            object
skills_desc                           object
datetime                      datetime64[ns]
posting_domain                        object
sponsored                              int64
work_type                             object
currency                              object
compensation_type                     object
normalized_salary                    float64
zip_code                             float64
fips                                 float64
dtype: object

In [94]:
eda_cols = [
    "company_id",
    "company_name",
    "job_id",
    "role_title",
    "description",
    "skills_desc",
    "experience_level",
    "max_salary",
    "min_salary",
    "med_salary",
    "normalized_salary",
    "currency",
    "compensation_type",
    "pay_period",
    "work_type",
    "location",
    "remote_allowed",
    "datetime",
    "views",
    "applies",
    "sponsored",
    "annual_salary",
    "min_salary_usd",
    "max_salary_usd",
    "avg_salary_monthly_usd",
    "monthly_salary_usd"
]

In [95]:
eda_df = df[[c for c in eda_cols if c in df.columns]].copy()

In [96]:
eda_df.shape
eda_df.head()
eda_df.isnull().sum()

company_id             1717
company_name           1719
job_id                    0
description               7
skills_desc          121410
max_salary            94056
min_salary            94056
med_salary           117569
normalized_salary     87776
currency              87776
compensation_type     87776
pay_period            87776
work_type                 0
location                  0
remote_allowed       108603
datetime                  0
views                  1689
applies              100529
sponsored                 0
dtype: int64

In [ ]:
#eda_df["datetime"] = pd.to_datetime(
#    eda_df["datetime"],
 #   errors="coerce",
 #   unit="ms" if df["datetime"].astype(str).str.len().median() > 10 else None
#)

In [84]:
#df.dtypes

In [85]:
eda_df.to_csv("final_dataframe2.csv", index=False)

In [86]:
df=pd.read_csv("final_dataframe2.csv")

In [87]:
eda_df.to_parquet("final_dataframe2.parquet", index=False)

In [88]:


df = pd.read_parquet("final_dataframe2.parquet",engine="pyarrow")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18403 entries, 0 to 18402
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_id              18403 non-null  float64
 1   company_name            18403 non-null  object
 2   job_id                  18403 non-null  int64
 3   role_title              18403 non-null  object
 4   description             18402 non-null  object
 5   skills_desc             131 non-null    object
 6   experience_level        14030 non-null  object
 7   max_salary              18403 non-null  float64
 8   min_salary              18403 non-null  float64
 9   med_salary              0 non-null      float64
 10  normalized_salary       18403 non-null  float64
 11  currency                18403 non-null  object
 12  compensation_type       18403 non-null  object
 13  pay_period              18403 non-null  object
 14  work_type               18403 non-null  object
 15  location                18403 non-null  object
 16  remote_allowed          3067 non-null   object
 17  datetime                18403 non-null  object
 18  views                   18112 non-null  float64
 19  applies                 5424 non-null   float64
 20  sponsored               18403 non-null  int64
 21  annual_salary           18397 non-null  float64
 22  min_salary_usd          18403 non-null  float64
 23  max_salary_usd          18403 non-null  float64
 24  avg_salary_monthly_usd  18403 non-null  float64
 25  monthly_salary_usd      18403 non-null  float64
dtypes: float64(12), int64(2), object(12)
memory usage: 3.7+ MB

,company_id,company_name,job_id,role_title,description,skills_desc,experience_level,max_salary,min_salary,med_salary,normalized_salary,currency,compensation_type,pay_period,work_type,location,remote_allowed,datetime,views,applies,sponsored,annual_salary,min_salary_usd,max_salary_usd,avg_salary_monthly_usd,monthly_salary_usd
0,64896719.0,The National Exemplar,10998357,Assitant Restaurant Manager,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,None,65000.0,45000.0,NaN,55000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Cincinnati, OH",None,2024-04-16 14:26:54,8.0,NaN,0,55000.0,45000.0,65000.0,4583.333333,4583.333333
1,766262.0,"Abrams Fensterman, LLP",23221523,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,None,175000.0,140000.0,NaN,157500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"New Hyde Park, NY",None,2024-04-12 04:23:32,16.0,NaN,0,157500.0,140000.0,175000.0,13125.000000,13125.000000
2,81942316.0,Raw Cereal,103254301,Producer,Company DescriptionRaw Cereal is a creative de...,None,None,300000.0,60000.0,NaN,180000.0,USD,BASE_SALARY,YEARLY,CONTRACT,United States,Yes,2024-04-11 18:43:39,7.0,1.0,0,180000.0,60000.0,300000.0,15000.000000,15000.000000
3,8577252.0,Revesco Properties,266566927,Marketing & Office Coordinator,About Revesco Properties:Revesco Properties is...,None,None,75000.0,55000.0,NaN,65000.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"Denver, CO",None,2024-04-18 16:49:28,13.0,1.0,0,65000.0,55000.0,75000.0,5416.666667,5416.666667
4,99212509.0,Recruitment Design,266825034,Software Support Specialist,Are you driven by the thrill of solving proble...,None,None,65000.0,60000.0,NaN,62500.0,USD,BASE_SALARY,YEARLY,FULL_TIME,"McLean, VA",None,2024-04-11 18:22:10,NaN,NaN,0,62500.0,60000.0,65000.0,5208.333333,5208.333333

In [ ]:
df.to_pickle("final_dataframe2.pkl")

In [ ]:
df[required_cols].isnull().mean() * 100

In [ ]:
#cleaned data quality check
data_quality_pct = (
    df[[
        "role_title",
        "location",
        "pay_period",
        "compensation_type",
        "work_type",
        "monthly_salary_usd"
    ]]
    .notnull()
    .all(axis=1)
    .mean() * 100
)

data_quality_pct

In [ ]:
#raw data quality check 
raw_data = pd.read_csv("combined_data1.csv")

In [ ]:
required_raw_cols = [
    "title",
    "location",
    "pay_period",
    "compensation_type",
    "work_type",
    "max_salary",
    "min_salary",
    "normalized_salary"  
]
raw_quality_pct = (
    raw_data[required_raw_cols]
    .notnull()
    .all(axis=1)
    .mean() * 100
)

raw_quality_pct

In [ ]:
df["datetime"]